name: Bateria de testes

on:
  workflow_dispatch:
    inputs:
      reason:
        description: "Motivo para rodar os testes"
        required: false
        default: "manual run"
jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install project
        run: |
          pip install poetry
          poetry install

      - name: Run tests
        run: |
          bash scripts/run_tests.sh